<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--Text-->
    <h2 th:text="${name}"></h2>
    <h3 th:text="${course}"></h3>
    <h3 th:text="${subject}"></h3>
    <h2 th:text="${id}"></h2>
    <h2 th:text="${numbers}"></h2>
    <h2 th:text="${numbers.get(0)}"></h2>
    <h2 th:text="${birthday}"></h2>
    <h2 th:text="${ 'Hello ' + name}"></h2>
    <h2 th:text="${student.firstName}"></h2>


    <!--Link-->
            <!--Absolute URLS-->
            <a  th:href="@{https://cybertekscholl.com}">Cybertek</a>

            <!--Link-->
            <a th:href="@{/student/register}" target="_blank">Register</a>

    <!--Adding parameeters to Link-->

    <a th:href="@{/student/welcome(id=3)}" target="_blank">HardCoded</a>
    <a th:href="@{/student/welcome(id=${student.id})}" target="_blank">Dynamic</a>

    <!--Iteration -->

    <ul></ul>
        <li th:each="number :${numbers}" th:text="${number}"></li>
    <ul></ul>

    <!--Fragment -->

    <div th:replace="fragments/footer::a">






</body>
</html>