<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>
    <!-- Comment section
      Title,Styles,Link,Script,meta and others

      -->
    <meta name="ankarali">
</head>
<body>

<h2>Welcome to Developer Course!!</h2>
<h1 align="center" style="color:blue">Spring Framework</h1>

<img src=springboot.png">

<ul>
    <li>Mac</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://amazon.com">Amazon Website</a>

<table>
    <th> IT TABLE </th>
    <tr>
        <td> Loop</td>
        <td> Colleciton</td>

    </tr>
    <tr>
        <td> Java</td>
        <td> Csharp</td>

    </tr>
</table>


<input>
    <label>UserName</label>
    <input type="text" name="username"><br>
    <label>Password</label>
    <input type="text" name="password"><br>
    <label>Comments</label>
    <textarea name="text" name="password"></textarea><br>

    <label>Radiobuttons</label>
    <input type="radio" name="Spring" value="IOC">IOC<br>
    <input type="radio" name="Spring" value="DI">DI</input><br>
    <input type="radio" name="Spring" value="MVC">MVC<br>

    <label>Checkboxes</label>
    <input type="checkbox" name="Spring" value="IOC">IOC</input><br>
    <input type="checkbox" name="TestNG" value="DI">DI</input>br>
    <input type="checkbox" name="Cucumber" value="MVC">MVC</input><br>

<label>Dropdowns</label>
<select name ="cars">
        <option value="honda">honda</option>
        <option value="Bmw">BMW</option>
        <option value="Reno">Renault</option>
</select>

<form action="#" method="get">

    Firstname:<input type="text" name="fisrtname"/>
    <br>
    Lastname:<input type="text" name="lastname"/>
</form>
<div>

    <h3>This is java Developer Course</h3>
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>



    </ul>
</div>
</body>

</html>